/*-------------------------------------------------------------------------------------*
 *  ysk font style 2023년02월                                                           *
 *-------------------------------------------------------------------------------------*/
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 2022년 01월 추가 font-family: 'Jua', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* 지마켓산스 */
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'EsaManru';
    font-weight: 700;	
    src: url('font/esamanru_Bold.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'EsaManru';
    font-weight: 500;	
    src: url('font/esamanru_Medium.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'EsaManru';
    font-weight: 300;	
    src: url('font/esamanru_Light.ttf') format('truetype');
    font-style: normal;
}